.plus-btn{
    width: 20px;
    justify-content: center;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: #DB3529;
    color: #e7e7e7;
    i{
        font-size: 15px;
    }
}
.input-field{
    input{
        width: 100px;
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    input:focus {
        outline: none !important;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
    }
}