<div class="footer-container px-5 d-flex justify-content-between">
    <div class="d-flex align-items-center flex-column justify-content-center">
        <div>Ticket Booking</div>
        <div>Amount : &#8377; {{totalAmount.value}}</div>
    </div>
    <div class="d-flex align-items-center justify-content-end">
        <div class="gap-3 d-flex">
            <div class="back-btn">
                <button class="ml-auto">Back</button>
            </div>
            <div class="premium-btn" (click)="nextpage()">
                <button class="ml-auto">Next page</button>
            </div>
        </div>
    </div>
</div>
