<div class="header-container py-4">
  <div class="input d-flex align-items-center">
    <div class="pb-2 d-flex align-items-center gap-2">
      <mat-icon>search</mat-icon>
      <label for="search" class="text">
        <span>Enter the Search Ticket...</span>
      </label>
      <input type="text" id="search" name="search" style="display: none" />
    </div>
  </div>
  <div>

  </div>
  <div class="premium-btn d-flex flex-end align-items-center justify-content-end" (click)="logout()">
    <button class="ml-auto" >Log Out</button>
  </div>
</div>
